body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333333;
  }
  
  p {
    hyphens: none;
    word-wrap: break-word;
    page-break-inside: avoid;
    text-align: justify;
  }
  

  /* Set the default color for hyperlinks */
  a {
    color: #006699;
    text-decoration: none;
  }
  a:hover {
    color: #006699;
    text-decoration: underline;
  }
  
  /* Set the default font for headings */
  h1, h2, h3, h4, h5, h6 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    color: #333333;
    margin-bottom: 10px;
    text-decoration: underline;
  }
  h1 {
    font-size: 36px;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  h2 {
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  h3 {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  h4 {
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  h5 {
    font-size: 16px;
  }
  h6 {
    font-size: 14px;
  }
  
  /* Set the default font for blockquotes */
  blockquote {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-style: italic;
    margin: 0;
    padding: 0 20px;
  }
  
  /* Set the default font for code blocks */
  pre {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    background-color: #f5f5f5;
    padding: 15px;
    hyphens: none;
    word-wrap: break-word;
    page-break-inside: avoid;
  }
  code {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    background-color: #f5f5f5;
    padding: 2px 4px;
  }
  
  /* Set the default styles for lists */
  ul, ol {
    margin: 0;
    padding: 0 0 0 20px;
  }
  li {
    margin-bottom: 10px;
  }
  
  /* Set the default styles for tables */
  table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
  }
  th, td {
    padding: 5px 10px;
   
  }  

  img {
    width: 50%;
    height: auto;
    display: block;
    margin: 0 auto;
  }
  
  .headerTemplate {
    display: block;
    font-size: 20px;
    font-weight: bold;
    color: red;
}